.interna_sobre {
  background: url("../img/bg_sobre.jpg") no-repeat center;
  background-size: cover;
}

.missao {
  padding-top: 40px;
}

.missao p {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 25px;
  padding-bottom: 10px;
  text-align: center;
}

.foto-equipe {
  padding-top: 40px;
}

.missao img {
    margin-bottom: 20px;
}

.quebra-sobre{
    background: url("../img/bg_quebra_sobre.jpg") no-repeat center;
    background-size: cover;
}


